<html>
    <head>
        <title>Little Miss Darkness</title>
    </head>
    <body>
        <div>
            <h1><a href="">Little Miss Darkness</a></h1>
        </div>

        <div>
            <p>published: 04.06.2015, 14.44</p>
            <h2><a href="">The first one</a></h2>
            <p>Das wird noch was</p>
        </div>

        <div>
            <p>published: 04.06.2015, 14.55</p>
            <h2><a href="">The second one</a></h2>
            <p>Es geht weiter</p>
        </div>
    </body>
</html>
